@font-face {
 font-family: paragraph;
 src: url("../fonts/paragraph.eot") /* EOT file for IE */
}
@font-face {
 font-family: paragraph;
 src: url("../fonts/paragraph.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: title;
 src: url("../fonts/title.eot") /* EOT file for IE */
}
@font-face {
 font-family: title;
 src: url("../fonts/title.ttf") /* TTF file for CSS3 browsers */
}

.title{
    font-family: title;
    font-size: 65px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    display: block;
}
img .tools :hover{
    background-color: red
}
}
.heading{
    font-family: paragraph;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    display: block;
}
.banner {
    padding: 20px 0;
}
.navigation{
    background: #444;
    margin: 10px 0 0;
}
.navigation ul li a{
    color: oldlace;
    text-decoration: none;
    display: block;
    font-family: paragraph;
    font-size: 15px;
    letter-spacing: 1px;
}

.navigation ul li a:hover{
    color: black;
    background: orange;
}

.fullwidth_back{
    background: #fffcf9;
    margin: 0px 0 10px;
    padding: 20px 0;
}

.footer{
    background: #444;
    margin: 10px 0 0;
    padding: 10px 0 0;
    font-size: 13px;
    font-family: paragraph;
}
.footer p{
    color: oldlace;
    display: block;
    font-family: paragraph;
}
.footer p a{
    color: orange;
    text-decoration: none;
    font-family: paragraph;
    font-size: 13px;
    letter-spacing: 1px;
}